# Vagrant
.vagrant

# Elixir
/_build
/cover
/deps
erl_crash.dump
/servers/**/Gemfile.lock
*.ez
*.class
*.beam

# Python
/servers/__pycache__
/servers/*.pyc
/servers/.wsgi

# Crystal
*.dwarf

# Executable
crystal_server
fasthttp_server
httpbeast_server
